# Project: Wrangling and Analyze Data

## Data Gathering

### Importing necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import os
import json
import re
import nltk
%matplotlib inline

### Loading into pandas DataFrame the three (3) Tweeter Datasets for this project

In [ ]:
# Loading WeRateDogs Twitter archive data (twitter_archive_enhanced.csv) directly downloaded
# into df_twitter_archive
df_twitter_archive = pd.read_csv("twitter-archive-enhanced.csv")

In [ ]:
# Using Requests library to download the tweet image prediction (image_predictions.tsv)

# creating a folder to store image paths
folder_name = 'image_path'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    
# using requests.get to extract the image url    
image_url= 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
with open(os.path.join(folder_name, image_url.split('/')[-1]), mode = 'wb') as file:
        response = requests.get(image_url)
        file.write(response.content)
        
# loading the image predictions into df_image_predictions 
df_image_predictions = pd.read_table('image_path/image-predictions.tsv')

#### In gathering the tweet_json.txt file, an alternative approach provided to gather the file was used

In [ ]:
# Using the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

# creating a list to store the four variables (tweet_id, created_at, favorite_count, retweet_count)
df_list = []

# Opening the tweet_json file data and extracting the four required variables
with open ('tweet-json.txt', 'r') as tweet_data:
    for each_line in tweet_data:
        data = json.loads(each_line)
        tweet_id = data['id']
        created_at = data['created_at']
        favorite_count = data['favorite_count']
        retweet_count = data['retweet_count']

        # Appending to the list created 
        df_list.append({'tweet_id' : tweet_id,
                        'created_at' : created_at,
                        'favorite_count' : favorite_count,
                        'retweet_count' : retweet_count})

# loading the tweet_json data into df_tweet_json        
df_tweet_json = pd.DataFrame (df_list, columns= ['tweet_id','created_at', 'favorite_count', 'retweet_count'])

## Assessing Data

### Displaying the three (3) datasets to assess it visually

In [ ]:
# displaying the twitter_archive to assess it visually 
df_twitter_archive

In [ ]:
df_twitter_archive.tail(20)

In [ ]:
# displaying the image_predictions to assess it visually 
df_image_predictions

In [ ]:
# displaying the tweet_json to assess it visually 
df_tweet_json

##  Assessing the three (3) datasets programmatically

### Assessing twitter_archive table

In [ ]:
# displaying the first 5 rows of twitter_archive table
df_twitter_archive.head(5)

In [ ]:
# displaying the last 5 rows of twitter_archive table
df_twitter_archive.tail(5)

In [ ]:
# checking 10 randomly rows of twitter_archive table
df_twitter_archive.sample(10)

In [ ]:
# checking for more information in twitter_archive table
df_twitter_archive.info()

In [ ]:
df_twitter_archive.describe()

In [ ]:
# checking for null values in twitter_archive table
df_twitter_archive.isnull().sum()

There are null values in twitter_archive table

In [ ]:
# checking for duplicaete rows in twitter_archive table
df_twitter_archive.duplicated().sum()

No duplicate row in twitter_archive table

#### working on name column in twitter_archive table

In [ ]:
# names of dog in lower case
df_twitter_archive['name'].value_counts()

##### Checking for names of dog in name column where the names of dog is in lower case and compairing it with list stopwords

In [ ]:
original_names = df_twitter_archive.name

# Return lowercase characters in name column
names_with_lower_case = [lower_case for lower_case  in original_names if lower_case.islower()]
print(names_with_lower_case)

#### using stowords approach

In [ ]:
# downloading stopwords and printing out the english version of stopwords
nltk.download('stopwords')
from nltk.corpus import stopwords
print(stopwords.words('english'))

Compairing the list of names with lower case in name column in twitter_archive table and the list of stopwords (from nltk.corpus). It was observed that the following list of names [‘a’, ‘all’, ‘an’, ‘by’, ‘his’, ‘just’, ‘my’, ‘not’, ‘such’, ‘the’, ‘this’, ‘very’] are not relevant or valid in column name hence the should be removed


Stop words are the words in a stop list (or stoplist or negative dictionary) which are filtered out (i.e. stopped) before or after processing of natural language data (text) because they are insignificant.

In [ ]:
# checking for more information where in_reply_to_status_id is null
df_twitter_archive[df_twitter_archive["in_reply_to_status_id"].isnull()].info()

#### observing expanded_urls column in df_twitter_archive table

In [ ]:
df_twitter_archive[df_twitter_archive['expanded_urls'].isnull()]

#### observing rating_numerator and rating_denominator column in df_twitter_archive table

In [ ]:
df_twitter_archive['rating_numerator'].value_counts()

In [ ]:
df_twitter_archive['rating_denominator'].value_counts()

In [ ]:
df_twitter_archive.text

In [ ]:
# Checking out all ratings found in each tweet in text column
rating_ratios = []
for rating_ratio_index in df_twitter_archive.index.tolist():
    ratio = re.findall(r'\d+/\d+', df_twitter_archive.loc[rating_ratio_index, 'text'])
    rating_ratios.append(ratio)
    
rating_ratios

The rating columns are found to have wrong rating ratios and some rows having more than one rating ratios. probably containing more than one Dog

## Assessing image_predictions

In [ ]:
# viewing 20 random rows in image_prediction table
df_image_predictions.sample(20)

In [ ]:
# checking for more information in image_prediction table
df_image_predictions.info()

In [ ]:
# checking for duplicate rows in image_prediction table
df_image_predictions.duplicated().sum()

No duplicaete in the image_prediction table

In [ ]:
# checking for null values in image_prediction table
df_image_predictions.isnull().any()

No null value in image_prediction table

#### Observing  dog prediction column in image_predictions table

In [ ]:
# checking if row prediction p1_dog, p2_dog and p3_dog in image_prediction are False
df_image_predictions.query("p1_dog==False and p2_dog==False and p3_dog == False")

324 rows in image_prediction table has prediction p1_dog, p2_dog and p3_dog all False. These are not valid for our analysis.

## Assessing tweet_json Table

In [ ]:
# displaying the first 5 rows in  tweet_json table
df_tweet_json.head()

In [ ]:
# checking for more information in tweet_json table
df_tweet_json.info()

In [ ]:
# checking for null values in tweet_json table
df_tweet_json.isnull().any()

In [ ]:
# checking for duplicaete rows in tweet_json table
df_tweet_json.duplicated().sum()

### Quality issues
1. Timestamp column in twitter_archive table should be changed to datetime. 

2. Names of dog like 'a', 'all', 'an', 'by', 'his', 'just', 'my', 'not', 'such', 'the', 'this', 'very' in names column in twitter_archive table should be removed and set as NaN value 

3. Unavailable Dog names in name column represented as none and empty spaces in dataframe should be changed to NaN to maintain consistency throughout the table.

4. Rows with retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp should be removed as they are not needed for our analysis.

5. Rows with in_reply_to_status_id and in_reply_to_user_id should be droped as they are redundant rows and are not needed for our analysis.

6. Tweets rows without expanded_urls i.e no images, should be dropped. keep only original tweets with images.

7. Wrong rating_numerator and rating_denominator

8. Underscores in image prediction(p1, p2 and p3) column should be removed and casing should be in proper form. 

9. Prediction p1_dog, p2_dog and p3_dog all contains false in a row in the image_prediction table which are not valid for our analysis.

### Tidiness issues
1. doggo, floofer, pupper, and puppo columns in twitter_archive should be replaced with single column (say dog_stage).

2. favorite_count and retweet_count columns in tweet_json amd image_pridictions table should be merged twitter_archive table.

### Issue documentation in few sentences
In this project I have gathered 3 datasets: twitter_archive, image_prediction and tweet_json.
The assessment was done both visually and programmatically.

While assessing the data, I observed that the entire 3 datasets has about 9 quality issues and about 2 tidiness issues.

### Quality issues
#### twitter_archive table has quality issues like:
1. Wrong data type for the timestamp column
2. Wrong entry of names of dog like 'a', 'all', 'an', 'by', 'his', 'just', 'my', 'not', 'such', 'the', 'this', 'very' in names column
3. Unavailable Dog names in name column represented as none.
4. Redundancy with retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp. 
5. Redundancy Rows with in_reply_to_status_id and in_reply_to_user_id should be droped as they are redundant rows.
6. Tweets rows without expanded_urls i.e no images in expanded_urls column.
7. Wrong rating_numerator and rating_denominator
#### image_prediction table has quality issues like:
8. validity issue in image prediction(p1, p2 and p3). 
9. prediction p1_dog, p2_dog and p3_dog all contains false in a row in the image_prediction table which are not valid for our analysis.

### Tidiness issues
#### twitter_archive table has tidiness issues like:
1. doggo, floofer, pupper, and puppo columns in twitter_archive should be replaced with single column (say dog_stage).
2. favorite_count and retweet_count columns in tweet_json amd image_pridictions table should be merged twitter_archive table.

# Cleaning Data

In [ ]:
# Making a copy of original dataframe of assesed dataframe
df_twitter_archive_clean = df_twitter_archive.copy()
df_image_predictions_clean = df_image_predictions.copy()
df_tweet_json_clean = df_tweet_json.copy()

### Tidiness issues
### Issue #1: 
doggo, floofer, pupper, and puppo columns in twitter_archive should be replaced with single dog_stage column.

#### Define: 
convert ["doggo", "flooter", "pupper", "puppo"] in twitter_archive columns into one 'dog_stage' column, then drop the four columns.

#### Code

In [ ]:
#creating a new column 'dog_stage' and assigning concatenated rows in the 4 variables to it 
df_twitter_archive_clean['dog_stage'] = df_twitter_archive_clean.doggo + df_twitter_archive_clean.floofer + df_twitter_archive_clean.pupper + df_twitter_archive_clean.puppo

# replacing the combined none values to empty space 
df_twitter_archive_clean['dog_stage'] = df_twitter_archive_clean['dog_stage'].str.replace("None","")

# seperating the concatenated values in the 4 columns into separate individual values 
df_twitter_archive_clean.loc[df_twitter_archive_clean['dog_stage'] == 'doggopupper', 'dog_stage'] = 'doggo, pupper'
df_twitter_archive_clean.loc[df_twitter_archive_clean['dog_stage'] == 'doggopuppo', 'dog_stage'] = 'doggo, puppo'
df_twitter_archive_clean.loc[df_twitter_archive_clean['dog_stage'] == 'doggofloofer', 'dog_stage'] = 'doggo, floofer'

In [ ]:
# dropping the initial 4 columns 
df_twitter_archive_clean = df_twitter_archive_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis =1)

#### Test

In [ ]:
df_twitter_archive_clean.head()

In [ ]:
df_twitter_archive_clean[df_twitter_archive_clean['dog_stage']!= '']

In [ ]:
df_twitter_archive_clean['dog_stage'].value_counts()

### Issue #2: 
favorite_count and retweet_count columns in tweet_json and image_pridictions table should be merged twitter_archive table.

#### Define
merge "favorite_count" and "retweet_count" in df_tweet_json_clean and image_pridictions_clean with df_twitter_archive_clean on tweet_id

#### Code

In [ ]:
# specifying the columns in tweet_json_clean table to merge
df_tweet_json_clean = pd.DataFrame(df_tweet_json_clean, columns=["tweet_id", "favorite_count", "retweet_count"])

# merging the df_twitter_archive_clean with df_tweet_json_clean
df_twitter_archive_clean = pd.merge(df_twitter_archive_clean, df_tweet_json_clean, on=['tweet_id'], how='left')

# merging the df_twitter_archive_clean with df_image_predictions_clean
df_twitter_archive_clean = pd.merge(df_twitter_archive_clean, df_image_predictions_clean, on=['tweet_id'], how='left')

#### Test

In [ ]:
df_twitter_archive_clean.head()

In [ ]:
list(df_twitter_archive_clean)

In [ ]:
df_twitter_archive_clean.info()

### Quality issues
### Issue #1: 
Timestamp column in twitter_archive table  should be datetime.

#### Define
change the timestamp column to datetime

#### Code

In [ ]:
df_twitter_archive_clean.timestamp = df_twitter_archive_clean.timestamp.astype('datetime64')

#### Test

In [ ]:
df_twitter_archive_clean.info()

### Issue #2:
Wrong entry of names of dog like 'a', 'all', 'an', 'by', 'his', 'just', 'my', 'not', 'such', 'the', 'this', 'very' in names column

#### Define
create a list of names to replace and use for loop to give indvidual name "NaN".

#### Code

In [ ]:
# replace the words in names_with_lower_case with None
names_with_lower_case
for word in names_with_lower_case:
    df_twitter_archive_clean['name'].replace(word, np.NaN , inplace = True)

#### Test

In [ ]:
print (df_twitter_archive_clean['name'].unique().tolist())

### Issue #3: 
Unavailable Dog names in name column represented as none and empty spaces in dataframe should be changed to NaN to maintain consistency throughout the table.

#### Define
Replace the None values in the dataframe and the empty spaces in dataframe to NaN values using replace

#### Code

In [ ]:
# Replacing the None values with NaN 
df_twitter_archive_clean.replace('None', np.NaN, inplace = True)

# empty space found in dog_stage should be replaced with NaN values
df_twitter_archive_clean['dog_stage'].replace('', np.NaN, inplace = True)

#### Test

In [ ]:
df_twitter_archive_clean.sample(10)

### Issue #4: 
Rows with retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp should be removed as they are not needed for our analysis.

#### Define
Find the index of retweets, then remove retweets rows and and drop 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp' columns

#### Code

In [ ]:
# Using only 'retweeted_status_id' since all the rows that has retweet in 'retweeted_status_user_id' 
# and 'retweeted_status_timestamp' columns has same index with 'retweeted_status_id'

retweeted_rows_index = list(df_twitter_archive_clean[df_twitter_archive_clean["retweeted_status_id"].isnull()==False].index)

# Dropping the rows
df_twitter_archive_clean = df_twitter_archive_clean.drop(axis=0, index = retweeted_rows_index)

#Dropping the columns 
df_twitter_archive_clean = df_twitter_archive_clean.drop(['retweeted_status_id',
                                                          'retweeted_status_user_id',
                                                          'retweeted_status_timestamp'], axis=1)

#### Test

In [ ]:
for retweet in retweeted_rows_index:
    if retweet in list(df_twitter_archive_clean.index):
        print('Found a retweet')

In [ ]:
df_twitter_archive_clean.head()

### Issue #5: 
Rows with in_reply_to_status_id and in_reply_to_user_id should be droped as they are redundant rows

#### Define
Find and remove the index rows of reply tweets 'in_reply_to_user_id' and 'in_reply_to_status_id' and drop the two columns.

#### Code

In [ ]:
# Using only "in_reply_to_status_id" since all the rows that has replied tweet in 
# 'in_reply_to_user_id' and 'in_reply_to_status_id' columns has same index with "in_reply_to_status_id"

replied_index_rows = list(df_twitter_archive_clean[df_twitter_archive_clean["in_reply_to_status_id"].isnull()==False].index)

# Dropping replied_index_rows
df_twitter_archive_clean = df_twitter_archive_clean.drop(axis=0, index = replied_index_rows)

# Dropping 'in_reply_to_user_id' and 'in_reply_to_status_id' columns 
df_twitter_archive_clean = df_twitter_archive_clean.drop(['in_reply_to_user_id', 
                                                          'in_reply_to_status_id'], axis=1)

#### Test

In [ ]:
for reply in replied_index_rows:
    if reply in list(df_twitter_archive_clean.index):
        print('Found a reply')

In [ ]:
df_twitter_archive_clean.sample(10)

In [ ]:
df_twitter_archive_clean.info()

### Issue #6: 
Tweets rows without expanded_urls i.e no images should be dropped, keep only original tweets with images.

#### Define 
look for row index without expanded_url and drop them

Note: row index without expanded_url has been reduced to 3 rows as result of the cleaning processes that have be done on the dataframe earlier.

In [ ]:
# Saving the row index without expanded_urls in rows_without_expanded_urls
rows_without_expanded_urls = list(df_twitter_archive_clean[df_twitter_archive_clean['expanded_urls'].isnull()].index)

# Dropping replied_index_rows
df_twitter_archive_clean = df_twitter_archive_clean.drop(axis=0, index = rows_without_expanded_urls)

#### Test

In [ ]:
df_twitter_archive_clean.info()

### Issue #7: 
Wrong rating_numerator and rating_denominator .

#### Define 
create a variable where we are going to save the entire ratios extracted from text column in the twitter_archive column. 

Then remove the ratios with more than one rating ratio and then include the single rating ratios in the cleaned twitter_archive dataframe

#### Code

In [ ]:
#Creating a list where to save  rating ratios extracted in text column
rating_ratios = []

#looping through to extract each rating ratio
for rating_ratio_index in df_twitter_archive_clean.index.tolist():
    ratio = re.findall(r'\d+/\d+', df_twitter_archive_clean.loc[rating_ratio_index, 'text'])
    
    # Appending extracted rating ratios in created list
    rating_ratios.append(ratio)

In [ ]:
# displaying the rating ratios 
rating_ratios

In [ ]:
# checking for the total number of rating ratios extracted
len(rating_ratios)

In [ ]:
# Creating a new column in twitter_archive dataFrame and assigning it to list of ratios extracted
df_twitter_archive_clean['rating'] = rating_ratios

In [ ]:
# Creating a list for rating ratios more than one 
indexes_other_than_1_ratio = []

# looping through to extract the rating ratios other than one
for index_ratio in df_twitter_archive_clean.index.tolist():
    if len(df_twitter_archive_clean.loc[index_ratio, 'rating']) > 1:
        
        # Appending extracted rating ratios other than one in created list
        indexes_other_than_1_ratio.append(index_ratio)

In [ ]:
# displaying the rating ratios other than one 
df_twitter_archive_clean.loc[indexes_other_than_1_ratio, 
                          ['text', 'rating_numerator', 'rating_denominator','rating']]

In [ ]:
len(indexes_other_than_1_ratio)

In [ ]:
# Taking only the rows that has only one rating ratios 
df_twitter_archive_clean = df_twitter_archive_clean[df_twitter_archive_clean.index.isin(indexes_other_than_1_ratio)== False]

In [ ]:
# dropping the 'rating' column in the twitter_archive table
df_twitter_archive_clean = df_twitter_archive_clean.drop('rating', axis=1)

#### Test

In [ ]:
df_twitter_archive_clean

In [ ]:
df_twitter_archive_clean.info()

### Issue #8: 
prediction p1_dog, p2_dog and p3_dog all contains false in a row in the image_prediction table which are not valid for our analysis.

#### Define
find rows that have three false and drop them.

#### Code

In [ ]:
false_3 = list(df_image_predictions_clean.query("p1_dog==False and p2_dog==False and p3_dog == False").index)
df_image_predictions_clean= df_image_predictions_clean.drop(index=false_3)

#### Test

In [ ]:
df_image_predictions_clean.query("p1_dog==False and p2_dog==False and p3_dog == False").index

In [ ]:
df_image_predictions_clean.query("p1_dog==False and p2_dog==False and p3_dog == False")

In [ ]:
df_image_predictions_clean.query("p1_dog==False and p2_dog==False and p3_dog == False").any()

### Quality issues
### Issue #9: 
underscores in image prediction(p1, p2 and p3) column should be removed and casing should be in proper form.

#### Define 
Remove underscores and change image descriptions to proper case

In [ ]:
df_image_predictions_clean['p1'] = df_image_predictions_clean['p1'].str.replace('_', ' ')
df_image_predictions_clean['p2'] = df_image_predictions_clean['p2'].str.replace('_', ' ')
df_image_predictions_clean['p3'] = df_image_predictions_clean['p3'].str.replace('_', ' ')

df_image_predictions_clean['p1'] = df_image_predictions_clean['p1'].str.title()
df_image_predictions_clean['p2'] = df_image_predictions_clean['p2'].str.title()
df_image_predictions_clean['p3'] = df_image_predictions_clean['p3'].str.title()

#### Test

In [ ]:
df_image_predictions_clean

## Storing Data

In [ ]:
# storing the gathered, assessed, and cleaned twitter_archive datasets to a csv file format
df_twitter_archive_clean.to_csv('twitter_archive_master.csv', index = False)

# Analyzing and Visualizing Data

In [ ]:
# reading the master dataframe
df_master = pd.read_csv('twitter_archive_master.csv')
df_master.head()

In [ ]:
df_master.info()

##### Analyzing of Dogs with top favourite count  with their corresponding tweet_id

In [ ]:
# using groupby to group tweet_id, name and with favorite_count
dog_with_fav_count = df_master.groupby(['tweet_id', 'name'])['favorite_count'].max()

# sorting the dogs favorite_count in descending order and using head() to grap the first 10
dog_with_fav_count_sort = dog_with_fav_count.sort_values(ascending = False).head(10)
dog_with_fav_count_sort

The display above shows the top 10 Dogs with highest favorite_count along side with their names and tweet_id.

The above analysis shows that 3 dog with name **Duddles**, **Stephan** and **Jamesy** with tweet_id **879415818425184262**, **807106840509214720** and **866450705531457537** respectively has a really close favorite_count.

* Duddles has the highest favorite_count of **107956.0** 
* Stephan has favorite_count of **107015.0** 
* Jamesy has favorite_count of **106827.0** 

But based on my analysis, **Duddles** with tweet_id **879415818425184262** has the highest favorite_count of **107956.0**

##### Analyzing Dog stages with top favourite count  and retweet_count

In [ ]:
dog_stage_max = df_master.groupby('dog_stage').max()
dog_stage_max = dog_stage_max[['favorite_count', 'retweet_count']]
dog_stage_max

The display above shows the maximum favorite_count and retweet_count of dog stages.

Analysis shows that dog stage with name **doggo** and **puppo** has a really close favorite_count but huge difference in retweet_count.

doggo has the highest favorite_count of **131075.0** and retweet_count **79515.0**

puppo has favorite_count of **132810.0** and retweet_count **48265.0**

##### Analyzing Year with the highest favorite count and the Dog who has the win

In [ ]:
df_master['timestamp'].value_counts()

In [ ]:
# getting year of highest favorite_count with ther corresponding dog name
year_with_hihest_fav = df_master.groupby(['timestamp', 'name'])['favorite_count'].max()
year_with_hihest_fav = year_with_hihest_fav.sort_values(ascending = False).head(1)
year_with_hihest_fav

The display above shows the top year of highest favorite_count with ther corresponding dog name.

The above analysis shows that the year 2017 has highest favorite_count of **107956.0** Dog with name **Duddles**

# Insights:
1. Dogs with highest favourite count

2. Dog stage with highest favourite count and retweet count 

3. Year with the highest favorite count and the Dog who has the win

# Visualization

### 1. Top 10 Dogs with highest favourite count

#### Representing the first insigth with visuals

In [ ]:
# using groupby to group name and with favorite_count
dog_with_fav_count = df_master.groupby(['name'])['favorite_count'].max()

# sorting the dogs favorite_count in descending order and using head() to grap the first 10
dog_with_fav_count_sort = dog_with_fav_count.sort_values(ascending = False).head(10)

# plotting a bar chart representation 
dog_with_fav_count_sort.plot(kind = 'bar', legend = 'favorite_count', figsize = (8,8))

plt.title('Top 10 Dogs with highest favorite')
plt.xlabel('name', fontsize=13)
plt.ylabel('favorite_count', fontsize=13)
plt.show();

The display above shows the top 10 Dogs with highest favorite_count along side with their names and tweet_id.

The above analysis shows that Dog with name **Duddles**, tweet_id  879415818425184262 has the highest favorite_count of 107956.0

### 2. Dog_stage with highest favourite_count and retweet_count

In [ ]:
# categorizing the variables to plot
dog_stage_max_viz = dog_stage_max[['favorite_count', 'retweet_count']].plot(kind='bar', title =" favorite_count and retweet_count of dog's stage",
                   figsize=(8,6), legend=True, fontsize=13)

# setting up the labels and the font size 
dog_stage_max_viz.set_xlabel("Dog stage", fontsize=13)
dog_stage_max_viz.set_ylabel("Count", fontsize=13)

plt.legend(fontsize = 12)

plt.show()

The display above shows the maximum favorite_count and retweet_count of dog stages.

Analysis shows that dog stage with name **doggo** and **puppo** has a really close favorite_count but huge difference in retweet_count.

doggo has the highest favorite_count of **131075.0** and retweet_count **79515.0**

puppo has favorite_count of **132810.0** and retweet_count **48265.0**

### 3. Year with the highest favorite count and the Dog who had the win

In [ ]:
top_20_fav_highest_year = df_master.groupby(['timestamp', 'name'])['favorite_count'].max()
top_20_fav_highest_year = top_20_fav_highest_year.sort_values(ascending = False).head(20)
top_20_fav_highest_year.plot(kind = 'bar', figsize = (10,8), legend = 'favorite_count')

plt.title('Top 20 year of highest favorite_count of dogs with thier corresponding names')
plt.xlabel('timestamp', fontsize=13)
plt.ylabel('favorite count', fontsize=13)
plt.show();

The display above shows 20 top year of highest favorite_count with ther corresponding dog name.

### Data used for my analysis and visualization

**twitter_archive_master.csv**